name: app_flutter
description: Flutter app for ESP32-S3 Fire Detection Dashboard
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # MQTT client cho giao tiếp với Mosquitto / EMQX
  mqtt_client: ^10.2.0

  # Provider dùng để quản lý trạng thái (realtime update UI)
  provider: ^6.1.1

  # Icon iOS/Material cơ bản (Flutter mặc định hay dùng)
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true